body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#mainDiv {
  margin: 0px;
  
  
}

#honorDiv {
  
  float: left;
  margin: 7.5px;
  
}

.card {
  height:450px;
}
 
#honorDiv img {
  height: 200px;
}


#h3Footer {
  clear: both;
}

